*
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

.error
  height: 100vh
  display: flex
  align-items: center
  justify-content: center

  p
    font-weight: 400

  h3
    font-weight: 600
    margin-right: 20px
    padding: 10px 20px
    border-right: solid white .5px

.embed
  &.video
    max-height: 100%
    max-width: 100%
    margin: auto

  &.img
    max-height: 100%
    max-width: 100%
    margin: auto

.download img
  height: 200px
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  border: solid 1px rgba(255, 255, 255, 0.1)
  border-bottom: 0
  border-radius: 25px 25px 0 0

.setting
  height: 40px
  display: flex
  align-items: center

  label
    margin-right: 10px

  .info
    margin-left: 10px

.rs-modal-wrapper
  display: flex
  align-items: center
  backdrop-filter: blur(2px)

.index
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: space-evenly

  .header
    display: flex
    justify-content: center
    justify-self: flex-start

    .logo
      margin: 0 20px

      img
        height: 56px

      p
        font-size: 12px
        margin-top: -3px
        font-weight: lighter

    .settings
      display: flex
      align-items: center
      justify-content: flex-end
      width: 100%
      height: 70px
      position: absolute
      padding-right: 25px
      pointer-events: none

      .rs-btn
        pointer-events: all

  .upload
    height: calc(100vh - 110px)
    background: #101820
    border-radius: 6px

  footer
    font-size: 10px
    display: flex
    justify-content: center

  .rs-uploader-picture-text
  .rs-uploader-file-item-preview
    display: none !important

  .rs-uploader-file-item
    padding-left: 0 !important

  .rs-uploader-file-item-icon-loading
    display: none !important

  .rs-uploader-file-item-progress
    padding-left: 0 !important

  [data-uppy-theme="dark"]
    .uppy-Dashboard-inner, .uppy-DashboardContent-bar, .uppy-StatusBar
      background-color: #11171f !important

    .uppy-Dashboard-inner
      border: unset !important


  /* 
    File History
   */

.list-wrapper
  height: calc( 100vh - 110px )

  .page-title
    width: 100%
    height: 50px
    display: flex
    place-content: center
    place-items: center

  .list
    padding: 0px 15px
    display: grid
    gap: 1rem
    grid-template-columns: repeat(auto-fill, minmax(unquote('min(200px, 100%)'), 1fr))

    .list-item
      // margin: 5px 15px
      // width: calc( 25% - 15px - 15px)
      width: 100%
      height: 190px
      position: relative
      border-radius: 3px
      display: block
      background: #151724
      min-width: 140px
      box-shadow: 0 0.7px 2.2px rgba(0, 0, 0, 0.02), 0 1.7px 5.3px rgba(0, 0, 0, 0.028), 0 3.1px 10px rgba(0, 0, 0, 0.035), 0 5.6px 17.9px rgba(0, 0, 0, 0.042), 0 10.4px 33.4px rgba(0, 0, 0, 0.05), 0 25px 80px rgba(0, 0, 0, 0.07)

      .list-item-preview
        border-radius: 3px 3px 0 0
        width: 100%
        height: 140px
        background-size: cover
        background-position: center
        background-repeat: no-repeat

      .list-item-text
        display: flex
        flex-direction: row
        justify-content: space-between
        padding: 0 5px
        padding-top: 9px
        
        .list-item-info
          display: flex
          flex-direction: column

          .list-item-name
            font-size: 12px
            line-height: 1.3
            font-weight: 500
            margin-bottom: 4px
            word-break: break-all

          .list-item-size
            font-size: 11px
            line-height: 1.3
            font-weight: normal
            color: rgb(191, 191, 191)
        
        .list-item-menu
          display: flex
          place-content: center
          place-items: center

          .list-dropdown-button
            &:hover, &:focus
              background: #26273a

          .list-item-dropdown > .rs-dropdown-menu
            background: #26273a

            .rs-dropdown-item-content:hover
              background-color: #1e1f2e
