*
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

.error
  height: 100vh
  display: flex
  align-items: center
  justify-content: center

  p
    font-weight: 400

  h3
    font-weight: 600
    margin-right: 20px
    padding: 10px 20px
    border-right: solid white .5px

video.embed
  height: 100vh
  width: 100%

embed.embed
  width: 100%

.setting
  height: 40px
  display: flex
  align-items: center

  label
    margin-right: 10px

  .info
    margin-left: 10px

.rs-modal-wrapper
  display: flex
  align-items: center
  backdrop-filter: blur(2px)

.index
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: space-evenly

  .header
    display: flex
    justify-content: center

    .logo
      margin: 0 20px

      img
        height: 56px

      p
        font-size: 12px
        margin-top: -3px
        font-weight: lighter

    .settings
      display: flex
      align-items: center
      justify-content: flex-end
      width: 100%
      height: 70px
      position: absolute
      margin-right: 50px
      pointer-events: none

      .rs-btn
        pointer-events: all

  .upload
    height: calc(100vh - 110px)
    background: #101820
    border-radius: 6px

  footer
    font-size: 10px
    display: flex
    justify-content: center

  .rs-uploader-picture-text
  .rs-uploader-file-item-preview
    display: none !important

  .rs-uploader-file-item
    padding-left: 0 !important

  .rs-uploader-file-item-icon-loading
    display: none !important

  .rs-uploader-file-item-progress
    padding-left: 0 !important

  [data-uppy-theme="dark"]
    .uppy-Dashboard-inner, .uppy-DashboardContent-bar, .uppy-StatusBar
      background-color: #11171f !important

    .uppy-Dashboard-inner
      border: unset !important